PUBLIC_GTM_ID=GTM-XXXXXXX
PUBLIC_GA4_MEASUREMENT_ID=G-XXXXXXXXXX
PUBLIC_FACEBOOK_PIXEL_ID=your-pixel-id-here
PUBLIC_FACEBOOK_VERIFICATION_DOMAIN=your-verification-domain-here
PUBLIC_SITE_URL=tu_url_web